<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add card</title>
</head>
<body>
<form th:method="POST" th:action="@{/addCard}" th:object="${card}">

    <label> create card</label>
    <br/>
    <br/>
    <label for="firstName"></label>
    <input placeholder="first name" type="text" id="firstName" th:field="*{firstName}">
    <br/>

    <label for="lastName"></label>
    <input placeholder="last name" type="text" id="lastName" th:field="*{lastName}">
    <br/>

    <label for="term"></label>
    <input type="date" id="term" placeholder="term" th:field="*{term}">
    <br/>
    <br/>
    <input type="submit" value="create">
    <a href="/cards">cancel</a>


</form>

</body>
</html>