<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>All user card</title>
    <link rel="stylesheet" href="../../../resources/css/cardOrLoanStyle.css">
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">

</head>
<body>
<div th:each="cardNum: ${card}">
    <div class="container">
        <div class="card card-2">

            <h3>Card number:</h3>
            <a th:text="${cardNum}"
               th:href="@{card/{cards} (cards = ${cardNum})}"></a>
        </div>
    </div>
</div>

<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <a class="c-account" href="/create_card">add card</a>
            <a class="c-account" href="/home">home</a>

            <form th:method="DELETE" th:action="@{/card/delAllCard}">
                <input class="background" type="submit" value="delete all card">
            </form>
        </div>
    </div>
</div>



</body>
</html>
