<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>card information</title>
</head>
<body>
<div>

    <table>
        <tr for="lastName">
            <td id="lastName">last name:</td>
            <td th:text="${cardNumber.lastName}"></td>
        </tr>

        <tr for="firstName">
            <td id="firstName">firstName:</td>
            <td th:text="${cardNumber.firstName}"></td>
        </tr>

        <tr for="cardNumber">
            <td id="cardNumber">card number:</td>
            <td th:text="${cardNumber.cardNumber}"></td>
        </tr>
        <tr for="CVV">
            <td id="CVV">CVV:</td>
            <td th:text="${cardNumber.CVV}"></td>
        </tr>
        <tr for="term">
            <td id="term">term:</td>
            <td th:text="${cardNumber.term}"></td>
        </tr>

        <tr>
            <td id="userId">user id:</td>
            <td th:text="${cardNumber.userId}"></td>
        </tr>

    </table>
    <a th:href="@{card/{cards} (cards = ${cardNumber.getCardNumber()})}">delete</a>
    <a href="/card">cancel</a>
</div>

</body>
</html>