<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit info</title>
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">
</head>
<body>

<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <h3>edit info</h3>
            <form th:method="PATCH" th:action="@{/edit_user{ID} (ID = ${user.getId()})}" th:object="${user}">
                <label for="firstName" >
                    <input placeholder="first name" type="text" th:field="${user.firstName}" id="firstName">
                </label>
                <label for="lastName">
                    <input placeholder="last name" type="text" th:field="${user.lastName}" id="lastName">
                </label>
                <label for="email">
                    <input placeholder="email" type="text" th:field="${user.email}" id="email">
                </label>
                <label for="phoneNumber">
                    <input placeholder="phone number" type="text" th:field="${user.phoneNumber}" id="phoneNumber">
                </label>
                <label for="password">
                    <input placeholder="password" type="text" th:field="${user.password}" id="password">
                </label>


            <input type="submit" value="Create">
            </form>
            <hr>
            <div>
                <a class="c-account" href="/home">cancel</a>

            </div>

        </div>
    </div>
</div>

</body>
</html>