<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="Info + ' ' + about + ' ' +  ${userInfo.firstName} + ' ' + ${userInfo.lastName}"></title>
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">

</head>

<body>
<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <div class="card-container">
                <h1 th:text="${userInfo.firstName}">first name</h1>
                <h1 th:text="${userInfo.lastName}">last name</h1>
                <p th:text="${userInfo.email}">email</p>
                <p th:text="${userInfo.dateOfRegistration}">registration date</p>
                <p th:text="${userInfo.phoneNumber}">phone number</p>
                <hr/>
                <div>
                    <a class="c-account"  th:href="@{${'/edit/' + userInfo.id}}">edit</a>
                    <a class="c-account" href="/home">cancel</a>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>