<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="Info + ' ' + about + ' ' +  ${userInfo.firstName} + ' ' + ${userInfo.lastName}"></title>

</head>
<body>
<div>
    <table>
        <tr for="firstName">
            <td>first name:</td>
            <td th:text="${userInfo.firstName}"></td>
        </tr>

        <tr for="lastName">
            <td>last name:</td>
            <td th:text="${userInfo.lastName}"></td>
        </tr>

        <tr for="email">
            <td>email:</td>
            <td th:text="${userInfo.email}"></td>
        </tr>

        <tr for="registrationDate">
            <td>registration date:</td>
            <td th:text="${userInfo.registrationDate}"></td>
        </tr>
        <tr>
        <tr for="phoneNumber">
            <td>phone number:</td>
            <td th:text="${userInfo.phoneNumber}"></td>
        </tr>
        <tr>
            <td>user id:</td>
            <td th:text="${userInfo.id}"></td>
        </tr>

<!--        <tr>
            <td th:text="${userInfo.card}"></td>
        </tr>
        <tr>
            <td th:text="${userInfo.loan}"></td>
        </tr>-->

        <tr>

            <td>
                <a th:href="@{${'/edit/' + userInfo.id}}">edit</a>
                <a href="/home">cancel</a>
            </td>
        </tr>
    </table>


</div>


</body>
</html>