<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">
    <title>restore</title>
</head>
<body>

<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <h3 class="h1">restore</h3>
            <form th:method="PATCH" th:action="@{/saveNewPassword}" th:object="${client}">
                <label for="password">
                    <input type="text" id="password" th:field="*{password}" placeholder=" new password">
                </label>
                <input class="cursor" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


</body>
</html>