<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Sing in YouBank</title>
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">

</head>
<body>
<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <h3 class="h1">Sing in</h3>
            <form th:method="POST" th:action="@{/login}" th:object="${user}">
                <label for="login">
                    <input type="email" id="login" th:field="*{email}" placeholder="email">
                </label>
                <label for="password">
                    <input type="password" id="password" th:field="*{password}" placeholder="password">
                </label>
                <input class="cursor" type="submit" value="Login in">
                <a href="/restore" class="fp">Forgotten password?</a>
            </form>
            <hr>
            <div>
                <a class="c-account" href="/registration"> Registration</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>

