<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login in</title>
</head>
<body>


<form th:method="POST" th:action="@{/thisUser}" th:object="${user}">
    <label for="login">
        <input type="email" id="login" th:field="*{email}">
    </label>

    <label for="password">
        <input type="password" id="password" th:field="*{password}">
    </label>
    <br/>

    <input type="submit" value="Login in">
    <br/>
    <br/>
    <label>First time here?</label>
    <a href="/registration"> Registration</a>
</form>


</body>
</html>