<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="body">
<form style="text-align: center">
    <h1 class="text">Welcome</h1>
    <h2 class="text">Please select</h2>
    <a class="button button1" style="vertical-align:middle" href="/loans"><span>Loan</span></a>
    <a class="button button1" style="vertical-align:middle" href="/cards"><span>Debit card</span></a>
</form>

</body>
</html>