<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<form th:each="userInfo : ${user}">

    <label>Hello,</label>
    <a th:href="@{id{ID} (ID = ${userInfo.getId})}" th:text="${userInfo.firstName}">first name</a>
    <a th:href="@{id{ID} (ID = ${userInfo.getId()})}" th:text="${userInfo.lastName}">last last</a>
    <label>!</label>
    <br/>

    <label>select an action</label>
    <br/>

    <label>
        <a href="/loan"><span>loan</span></a>
        <label>or</label>
        <a href="/card"><span>card</span></a>
        <br/>
    </label>


    <label>
        <a href="/"><span>exit</span></a>
    </label>

</form>

</body>
</html>