<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div>
    <label for="name">
        <input placeholder="name" id="name" >
    </label>
    <br/>

    <label for="lastName">
        <input id = "lastName" placeholder="last name">
    </label>
    <br/>

    <label for="email">
        <input id="email" placeholder="email" >
    </label>
    <br/>

    <label for="password">
        <input id="password" placeholder="password" >
    </label>
    <br/>

    <a type="submit" value="register" href="/createNewUser"> Create</a>


</div>
</body>
</html>