<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">
</head>
<body>
    <div class="flex-item">
        <div class="login-area">
            <div class="box">
                <h3>registration</h3>
                <form th:method="POST" th:action="@{/createNewUser}" th:object="${user}">
                    <label for="firstName">
                        <input id="firstName" type="text" placeholder="last name" th:field="*{firstName}">
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
                    </label>

                    <label for="lastName">
                        <input type="text" placeholder="last name" id="lastName" th:field="*{lastName}">
                        <div th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{firstName}">firstName error</div>
                    </label>

                    <label for="email">
                        <input id="email" placeholder="email" type="email" th:field="*{email}">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
                    </label>
                    <label for="phoneNumber">
                        <input type="text" id="phoneNumber" placeholder="phone number" th:field="*{phoneNumber}">
                        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber error</div>
                    </label>
                    <label for="password">
                        <input type="password" id="password" placeholder="password" th:field="*{password}">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
                    </label>
                    <input type="submit" value="Create">
                </form>
                <hr>
                <div>
                    <label> Are you already registered?</label>
                    <a class="c-account" href="/">Login in </a>

                </div>

            </div>
        </div>
    </div>
</body>
</html>




<!--


</form>-->
