<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/createNewUser}" th:object="${user}">

    <label> Registration </label>
    <br/>
    <br/>

    <label for="firstName">
        <input type="text" placeholder="first name" id="firstName" th:field="*{firstName}">
    </label>
    <br/>

    <label for="lastName">
        <input id="lastName" type="text" placeholder="last name" th:field="*{lastName}">
    </label>
    <br/>

    <label for="email">
        <input id="email" placeholder="email" type="email" th:field="*{email}">
    </label>
    <br/>
    <label for="phoneNumber">
        <input type="text" id="phoneNumber" placeholder="phone number" th:field="*{phoneNumber}">
    </label>
    <br/>
    <label for="password">
        <input type="password" id="password" placeholder="password" th:field="*{password}">
    </label>
    <br/>
    <br/>
    <input type="submit" value="Create">
    <br/>
    <br/>
    <label> Are you already registered?</label>
    <a href="/">Login in </a>


</form>
</body>
</html>