<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/css/loginStyle.css">
    <title>restore</title>
</head>
<body>

<div class="flex-item">
    <div class="login-area">
        <div class="box">
            <h3>restore</h3>
            <form th:method="PATCH" th:action="@{/restorePasswordUser}" th:object="${user}">
                <label>
                    <input placeholder="email" type="text" th:field="*{email}">
                </label>

                <label>
                    <input placeholder="phone number" type="text" th:field="*{phoneNumber}">
                </label>

                <label>
                    <input placeholder="new password" type="text" th:field="*{password}">
                </label>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>


</body>
</html>