<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Cart list</title>
</head>
<body class="body">

<form>

    <table id="customers">
        <tr>
            <th>Current balance</th>
            <th>Card number</th>
            <th>Expiration date</th>
            <th>CVV</th>
        </tr>
    </table>
    <a class="button button1" style="vertical-align:center" href="cartDebit.html"><span> Create cart</span></a>

</form>

</body>
</html>